<%- include("./partials/head") %> 
<!-- carga de css -->
<%- include("./partials/closeHead") %>
<%- include("./partials/header") %> 
<div class="w-75 m-auto contenedor mt-3">
    <h1 class="text-danger">Acceso denegado</h1>
    <%- include("./partials/botonLogout") %> 
</div>

<!-- carga de js -->
<%- include("./partials/foot") %> 